body {
    background-color: #e7ae37;
    font-family: 'Roboto Mono', monospace;
}

#title {
    text-transform: uppercase;
    font-size: 57px;
    color: #fff;
    text-align: center;
    word-spacing: -10px;
    letter-spacing: -4px;
    text-shadow: 8px 11px 11px black;
}

#content {
    width: 90%;
    height: 600px;
    background-color: rgb(250, 245, 245);
    margin-left: 77px;
    margin-top: 35px;
    box-shadow: 1px -1px 37px 0px #0c0c0b;
}

#line {
    background-color: #f2dba5;
}

#icons {
    color: white;
    margin-left: 14px;
    letter-spacing: -3px;
}

#img {
    background-image: url(../images/personal-attributes-cv-758x506.jpg);
    background-size: cover;
    width: 80px;
    height: 80px;
    background-position: center;
    border-radius: 50%;
    margin: 21px 46%;
}

#status {
    width: 350px;
    height: 85px;
    box-sizing: border-box;
    margin: 0px 35%;
    text-align: center;
}

h6 {
    color: rgb(100, 100, 100);
}

#sm {
    margin: 12px 47%;
}

#links {
    margin: 40px 0px;
}

section>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: system-ui;
    display: inline-block;
    width: 500px;
    height: 40px;
    margin: 3px 29%;
    background-color: #0000d5;
    text-align: center;
    padding: 9px 0px;
    box-sizing: border-box;
}